
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color:#6fea73;
    color:white;
    position: fixed;
    z-index: 2;

}

.logo{
    width: 100%;
    padding-left: 20px;

}
.logo:hover{
  color: black;
}

.navbar{
    display: flex;
    justify-content: center;
    gap:20px;
    padding-right: 20px;
}
.navbar a{
    color: white;;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3 ease-in-out;
}
.navbar a:hover{
    color: black;
}
.Container{
  display:grid ;
  gap:1rem;
  min-height: 2vh;
}
h2{
  margin:12px;
  padding-top: 10px;
  text-align: center;
 }

.cardMainContainer{
  display: flex;
  flex-wrap: wrap;
    gap:20px;
  justify-content: center;
 
}

.cardContainer {
  position: relative;
  width:300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  transition: box-shadow o.3 rgba(0,0,0,0.1);
  border:2px solid rgb(22, 91, 17);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  gap:20px;
  
}
.cardContainer:hover{
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.cardContainer img{
  max-width: 100%;
  height:300px;
  object-fit: fill;
  overflow: hidden;
  transition: transform 0.3 ease-in-out;
  margin-bottom: 1rem;
  border-radius: 4px;
}
.heading {
  margin-bottom: 5px;
  font-size: 1.1rem;
  color: rgb(12, 12, 12);
}

.price {
  font-size: 1rem;
  color: rgb(196, 9, 9);
  font-size: bold;
  margin-bottom: 3px;
}


.btnContainer {
  margin-top: 10px;
  gap:10px;
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color:#badfa8;
  border: 2px solid rgb(22, 91, 17);
  outline: none;
  color: black;
  font-weight: bold;
  padding: 5px;
  width: 100px;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover {
  background-color:#badfa8
  color:black;
  transition: all 0.2s ease-in;
}
/*@media screen and (max-width:600px){
  .Container{
    width:100%;
    margin:10px 0;
  }
  .cardMainContainer{
    flex-direction: column;
    align-items: center;
  }
}*/
/*@media screen and(min-width:768px){
  .Container{
    width:80%;
    margin: 0 auto;
  }
  .cardMainContainer{
    flex-direction: row;
  }
}*/
@media (max-width:768px){
  .cardContainer{
    width: 100%;
  }
}
/* Footer Style */

footer{
  padding: 20px;
  background-color: #6fea73;
}
.Container{
  background-color: #6fea73;
}

.paraContainer {
  padding:20px 0px 20px 20px;
  display: grid;
  gap:50px;
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
}
.paraContainer p{
  padding-right:60px;
  line-height: 28px;
}
.paraContainer table td{
  padding:10px 0px;

}
.col-foot h2{
  font-size:18px;
  margin-bottom:25px;
  
}
.col-foot li{
  margin-bottom:15px;
  list-style-type: disclosure-closed;
}