
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color:#6fea73;
    color:white;
    position: fixed;
    z-index: 2;

}

.logo{
    width: 100%;
    padding-left: 20px;

}
.logo:hover{
  color: black;
}

.navbar{
    display: flex;
    justify-content: center;
    gap:20px;
    padding-right: 20px;
}
.navbar a{
    color: white;;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3 ease-in-out;
}
.navbar a:hover{
    color: black;
}
.hero{
    display: flex;
    justify-content: center;
}
.heroimage{
    width:100%;
    height: 100hv;
}
/* Footer Style */

footer{
  padding: 20px;
  background-color: #6fea73;
}
.Container{
  background-color: #6fea73;
}

.paraContainer {
  padding:20px 0px 20px 20px;
  display: grid;
  gap:50px;
  grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
}
.paraContainer p{
  padding-right:60px;
  line-height: 28px;
}
.paraContainer table td{
  padding:10px 0px;

}
.col-foot h2{
  font-size:18px;
  margin-bottom:25px;
}
.col-foot li{
  margin-bottom:15px;
  list-style-type: disclosure-closed;
}


